<ion-header>

    <ion-navbar hideBackButton color="primary">

        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Événements</ion-title>

    </ion-navbar>

</ion-header>

<ion-content>

    <section *ngIf="comingEvents && comingEvents.length > 0" id="coming-events-section" padding>

        <div *ngFor="let event of comingEvents; let i = index;" class="event-card" (click)="presentDetailsModal(i)">
            <div class="event-card-cover" [ngStyle]="{'background':'url('+event.mainPhoto+')'}">
                
            </div>
            <div class="event-card-details">
                <p class="event-title">{{event.name}}</p>
                <div *ngIf="event.tags && event.tags.length > 0" class="tags-container">
                    <div *ngFor="let tag of event.tags" class="tag">
                        <span class="tag-label">{{tag}}</span>
                    </div>
                </div>
                <p class="event-detail"><span class="logo-container"><i class="far fa-calendar-alt"></i></span>{{event.startDate}} - {{event.startTime}}</p>
                <p class="event-detail"><span class="logo-container"><i class="fas fa-map-marker-alt"></i></span>{{event.location.name}}</p>
            </div>
            <div class="event-card-footer">
                <ion-item>
                    <button *ngIf="event.interested && event.interested.length > 0" ion-button clear item-start>{{event.interested.length}} Intéressés</button>
                    <button ion-button clear item-end (click)="presentFeedbackModal($event, i)">Feedback</button>
                </ion-item>
            </div>
        </div>

    </section>

    <ion-fab *ngIf="isAdmin" right bottom>
        <button ion-fab color="secondary" (click)="presentCreatEventModal()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>