.md, .ios {

    .side-menu {
        background: url(../assets/imgs/side-menu-bg.jpg) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        color: white !important;
    
        .side-menu-header {
            background-color: rgba(0, 137, 117, 0.3);
            padding: 40px 16px 32px 32px !important;

            .avatar-container {
                width: 100% !important;
                height: 90px !important;
                margin: 0 !important;
                padding: 0 !important;
                box-sizing: border-box !important;

                .avatar-green-bg {
                    width: 90px !important;
                    height: 90px !important;
                    box-sizing: border-box !important;
                    background: rgba(0, 170, 141, 0.6) !important;
                    border-radius: 50% !important;
                    border: 3px solid !important;
                    border-color: rgba(255, 171, 0, 0.8) !important;
                    position: relative !important;

                    img {
                        position: absolute !important;
                        top: 0 !important;
                        bottom: 0 !important;
                        left: 0 !important;
                        right: 0 !important;
                        border-radius: 50% !important;
                    }
                }
            }

            .general-info-container {
                width: 100% !important;
                margin: 0 !important;
                padding: 20px 0px 0px 0px !important;
                box-sizing: border-box !important;

                p {
                    margin: 0 !important;
                }

                .username {
                    font-size: 28px !important;
                    font-weight: bold !important;
                }

                .detail {
                    font-weight: lighter !important;
                    margin-top: 8px !important;
                }
            }
        }

        .side-menu-options {
            ion-list {
                .side-menu-option {
                    background-color: transparent;
                    color: white;
                    font-weight: lighter;
                    height: 60px !important;
                    padding-left: 0px !important;
                    border-bottom: 1px solid !important;
                    border-bottom-color: rgba(0, 0, 0, 0.12) !important;

                    .option-icon-container {
                        width: 62px !important;
                        display: inline-block !important;

                        i {
                            margin-left: 16px !important;
                            color: rgba(255, 171, 0, 0.8) !important;
                        }
                    }
                }

                .ripple {
                    background-position: center;
                    transition: background 3s;
                }
                .ripple:active {
                    background-color: rgba(0, 137, 117, 0.3);
                    background-size: 100%;
                    transition: background 0s;
                }
            }
        }
    }
}
