page-feedback-canteen {

    
    
    
    .action-sheets-basic-page {
        .ion-md-share {
          color: #ED4248;
        }
        .ion-md-arrow-dropright-circle {
          color: #508AE4;
        }
        .ion-md-heart-outline {
          color: #31D55F;
        }
        .action-sheet-cancel ion-icon,
        .action-sheet-destructive ion-icon {
          color: #757575;
        }
      }

    .centr{
        margin-top: 40px;
       
    }

    .pi{
        font-size: 17px;

    }

    .pos{
        margin-top: 35px;
    }

    .backcom{
        background: #f8f8f8;

    }

    .butt{
        //background: transparent;
        //background: #f8f8f8;
        color: #00BF9A;
        //color: rgb(105, 105, 103);
        font-family: roboto;
        font-size: 15px;

    }

    .starend{
        height: 24px;
        width: 24px;
    }

    .star{
        height: 24px;
        width: 24px;
        float: left;
        left: 50%;
        
    }
    
/*
        .myCardHeader{
            background: #F3B800;
            color: #FFFFFF;
            font-size: 20px;
            font-family: Roboto;
            font-weight: bold;
            text-align: center;
            height: 55px;
            
            
        }
        .mycontent{
            border-left-color: #F3B800;
            margin-top: 25px;
            color: #808080;
            height: 202px;
        }
    
        .mycard{
            margin-top: 25px;
            
        }
        .pcard{
            color: #808080;
        }
        */

        .arriere{
            background: #f8f8f8;
        }
    
        .char-dessert{
            letter-spacing: 1px;
        }
    
        .char-entre{
            letter-spacing: 2.8px;
        }
    
        .char-plat{
            letter-spacing: 0px;
        }
        
        /*.char-dessert{
            letter-spacing: -1px;
        }
    
        .char-entre{
            letter-spacing: 0.5px;
        }
    
        .char-plat{
            letter-spacing: 5px;
        }
    */
        .sizetext{
            font-size: 16px;
        }
    
        .jaune{
            color: #FAAB00;
        }
    
        .gris{
            color: #838282;
        }
    
        .myCardHeader{
            background: rgb(105, 105, 103);
            color: #FFFFFF;
            font-size: 20px;
            font-family: Roboto;
            //font-weight: bold;
            text-align: center;
            height: 55px;
            //color: #000000;
    
            
            
        }
        .mycontent{
            border-left-color: #F3B800;
            margin-top: 25px;
            color: #808080;
            //height: 150px;
            
        }
    
    
        .mycard{
            margin-top: 25px;
            /*box-shadow: 
            0 2px 2px 0 #F3B800,
             0 3px 1px -2px #F3B800,
              0 1px 5px 0 #F3B800;*/
    
              box-shadow: 
              0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    
        }
        .pcard{
            color: #808080;
        }
    
        
            
    
    
}
