<!--
  Generated template for the PopupCommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="back">

  <h4 class="titre">Degrée de satisfaction</h4>
  <hr>
  <br>

  <ion-row justify-content-center>
                  
      <img src="assets/imgs/star-jaune.png" alt="star" class="star" *ngIf="nbretoile>0" (click)="etoile1()">
      <img src="assets/imgs/star-jaune.png" alt="star" class="star" *ngIf="nbretoile>1" (click)="etoile2()">
      <img src="assets/imgs/star-jaune.png" alt="star" class="star" *ngIf="nbretoile>2" (click)="etoile3()">
      <img src="assets/imgs/star-jaune.png" alt="star" class="star" *ngIf="nbretoile>3" (click)="etoile4()">
      <img src="assets/imgs/star-jaune.png" alt="star" class="starend" *ngIf="nbretoile>4" (click)="etoile5()">
      <img src="assets/imgs/star-gris.png" alt="star" class="star" *ngIf="nbretoile<1" (click)="etoile1()">
      <img src="assets/imgs/star-gris.png" alt="star" class="star" *ngIf="nbretoile<2" (click)="etoile2()">
      <img src="assets/imgs/star-gris.png" alt="star" class="star" *ngIf="nbretoile<3" (click)="etoile3()">
      <img src="assets/imgs/star-gris.png" alt="star" class="star"  *ngIf="nbretoile<4" (click)="etoile4()">
      <img src="assets/imgs/star-gris.png" alt="star" class="starend" *ngIf="nbretoile<5" (click)="etoile5()">
      
</ion-row> 
<p class="parag">{{note}}</p>
<br>
<hr>
<span class="buttons">
<div class="butt-left">
    <button ion-button icon-left clear small class="butt" (click)="dismiss()">
       
        <div>Annuler</div>
      </button>
      <hr>
</div>
<span>
  <button ion-button icon-left clear small class="butt" (click)="savecomment()">
     
      <div>Confirmer </div>
    </button>
    <hr>
  </span>
  </span>
</ion-content>
